/*Componentes*/
* {
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.form .speaker-form .form-row .link, .form .speaker-form .form-row .register {
  text-decoration: none;
}

.form .speaker-form .form-row input[type=text],
.form .speaker-form .form-row input[type=email],
.form .speaker-form .form-row input[type=password],
.form .speaker-form .form-row input[type=phone], img, .section-contenedor .section .contenedor .img-link img {
  max-width: 100%;
}

img, .section-contenedor .section .contenedor .img-link img {
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 2;
}

img:hover, .section-contenedor .section .contenedor .img-link img:hover {
  transform: scale(0.9);
  z-index: 9;
  transition: 0.5s;
}

.section-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 2em;
}
.section-contenedor .section .contenedor .img-link img {
  padding: 1em 1em;
  margin-bottom: -5px;
}
.section-contenedor .section .contenedor .img-link img:hover {
  cursor: pointer;
}

img {
  padding: 1em 1em;
  margin-bottom: -5px;
}
img:hover {
  cursor: pointer;
}

.form .speaker-form .form-row .link, .form .speaker-form .form-row .register {
  text-decoration: none;
}

.form .speaker-form .form-row input[type=text],
.form .speaker-form .form-row input[type=email],
.form .speaker-form .form-row input[type=password],
.form .speaker-form .form-row input[type=phone], .section-contenedor .section .contenedor .img-link img, img {
  max-width: 100%;
}

.section-contenedor .section .contenedor .img-link img, img {
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 2;
}

.section-contenedor .section .contenedor .img-link img:hover, img:hover {
  transform: scale(0.9);
  z-index: 9;
  transition: 0.5s;
}

.form {
  color: black;
  background-color: white;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.form .speaker-form {
  color: black;
  border-radius: 3px;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.form .speaker-form .form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.form .speaker-form .form-row h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.form .speaker-form .form-row label {
  margin-bottom: 15px;
}
.form .speaker-form .form-row input[type=text],
.form .speaker-form .form-row input[type=email],
.form .speaker-form .form-row input[type=password],
.form .speaker-form .form-row input[type=phone] {
  background-color: white;
  border: 1px solid #D6D9DC;
  border-radius: 5px;
  padding: 7px;
  font-size: 14px;
}
.form .speaker-form .form-row button {
  font-size: 15px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 40px;
  cursor: pointer;
}
.form .speaker-form .form-row .register {
  text-align: center;
  color: black;
}
.form .speaker-form .form-row .link {
  color: black;
}

/*Base*/
.form .speaker-form .form-row .register, .form .speaker-form .form-row .link {
  text-decoration: none;
}

.section-contenedor .section .contenedor .img-link img, img, .form .speaker-form .form-row input[type=text],
.form .speaker-form .form-row input[type=email],
.form .speaker-form .form-row input[type=password],
.form .speaker-form .form-row input[type=phone] {
  max-width: 100%;
}

.section-contenedor .section .contenedor .img-link img, img {
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 2;
}

.section-contenedor .section .contenedor .img-link img:hover, img:hover {
  transform: scale(0.9);
  z-index: 9;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
