@import "variables";

.section-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-section-contenedor;

    .section{
        
        .contenedor{
            
            .img-link{
                
                img{
                    max-width: 100%;
                    padding: $padding-img-section;
                    margin-bottom: $margin-img-section;
                    transition: all 0.3s ease-out;
                    position: relative;
                    z-index: 2; 

                    &:hover {
                        transform: scale(0.9);
                        z-index: 9;
                        transition: 0.5s;
                        cursor: pointer;
                    }
                }
                
            }
            
        }
    }
}

img{
    max-width: 100%;
    padding: $padding-img-section;
    margin-bottom: $margin-img-section;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 2; 

    &:hover {
        transform: scale(0.9);
        z-index: 9;
        transition: 0.5s;
        cursor: pointer;
    }
}