%caja{
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 2;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 2em;
    border-radius: 29px;
}

%hover {
    cursor: pointer;
}
