$text-aling-register:center;

$padding-section-contenedor:2em 2em;
$padding-speaker-form:50px;
$padding-form-row-input:7px;
$padding-button:7px 40px;

$margin-speaker-form-h1:20px;
$margin-form-row:40px;
$margin-label:15px;


$font-size-form:18px;
$font-size-speaker-form-h1:30px;
$font-size-form-row-input:14px;
$font-size-button:15px;
$font-weight-button:bold;

$border-radius-speaker-form:3px;
$border-formulario: 1px solid #D6D9DC;
$border-radius-formulario:5px;
$border-button:none;
$border-radius-button:5px;

$cursor-button:pointer;
$cursor-img:pointer;
