@import "../base/variables";
@import "../base/mapas";
@import "../base/mixins";

.form{
    color: map-get($colores-principales, b-l );
    background-color: map-get($colores-principales, w-h );
    font-size: $font-size-form;
    line-height: 1.5;
    @include flexbox-form(flex, center, column, wrap);

    .speaker-form{
            color: map-get($colores-principales, b-l );
            border-radius: $border-radius-speaker-form;
            padding: $padding-speaker-form;
            @include flex-box-speaker-form(flex, center, column, wrap);
    
            .form-row{
                margin-bottom: $margin-form-row;
                @include flex-box-form-row(flex, flex-start, column, wrap);

                h1{
                    font-size: $font-size-speaker-form-h1;
                    margin-bottom:$margin-speaker-form-h1;
                }

                label{
                    margin-bottom: $margin-label;
                }
    
                input[type="text"],
                input[type="email"],
                input[type="password"],
                input[type="phone"]{
                    background-color: map-get($colores-principales, w-h );
                    border:$border-formulario;
                    border-radius: $border-radius-formulario;
                    max-width: 100%;
                    padding: $padding-form-row-input;
                    font-size: $font-size-form-row-input;
                }
    
                button{
                    font-size: $font-size-button;
                    font-weight: $font-weight-button;
                    background-color: map-get($colores-principales, b-l );
                    color: map-get($colores-principales, w-h );
                    border: $border-button;
                    border-radius: $border-radius-button;
                    padding: $padding-button;
                    cursor: $cursor-button;
                }
                
                .register{
                    text-align: $text-aling-register;
                    text-decoration: none;
                    color: map-get($colores-principales, b-l );
                }
                
                .link{
                    text-decoration: none;
                    color: map-get($colores-principales, b-l );
                }
            }
    }
}
